# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment files
.env
*.env

# Ignore Python virtual environment folders
venv/
env/
.env/  

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Streamlit cache files
.streamlit/
*.log

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore macOS system files
.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore IDE-specific files
.idea/
